<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!-- Bootstrap Icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />

<!-- My CSS -->
<link rel="stylesheet" href="static/styles/style.css" />
<title>Project | Nyeni</title>
  </head>
  <body id="home">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-info shadow-sm fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Classification Yoga Pose</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="classification.html">Classification</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="contact.html">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
       <!-- End Navbar -->

       <!-- About -->
       <section id="about">
        <div class="container-fluid">
          <div class="row text-center mb-3">
            <div class="col">
              <h2>Convolution Neural Network</h2>
            </div>
          </div>
          <div class="row justify-content-center fs-5">
            <div class="col-md-7" >
              <p style="text-align: justify;">
                Apa itu algoritma Convolutional Neural Network?
              <p style="text-align: justify;">
                Dalam bidang deep learning, Convolutional Neural Network (CNN/ConvNet) merupakan bagian dari deep neural network, yakni jenis jaringan saraf tiruan yang umumnya digunakan dalam pengenalan dan pemrosesan gambar. Algoritma ini dirancang khusus untuk memproses data piksel dan citra visual.         
              </p>
              <p style="text-align: justify;"">
                Kata convolution pada CNN yaitu sebuah operasi matematika pada dua buah fungsi yang kemudian menghasilkan fungsi ketiga. Fungsi ini menggabungkan 2 buah himpunan informasi dan menunjukkan bagaimana bentuk satu fungsi dimodifikasi oleh fungsi lainnya. 
                CNN menggunakan convolution sebagai pengganti perkalian matriks umum. Operasi ini digunakan paling tidak pada satu lapisannya.
              </p>
            </div>
  
            <div class="col-md-1">
              <img src="static/images/4.png" alt="">
            </div>
          </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path
            fill="#e2edff"
            fill-opacity="1"
            d="M0,64L48,101.3C96,139,192,213,288,224C384,235,480,181,576,133.3C672,85,768,43,864,53.3C960,64,1056,128,1152,165.3C1248,203,1344,213,1392,218.7L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
          ></path>
        </svg>
      </section>
      <!-- End About -->

          <!-- Projects -->
    <section id="projects">
      <div class="container-fluid">
        <div class="row text-center mb-3">
          <div class="col">
            <h2>Tujuan Yoga</h2>
          </div>
        </div>
        <div class="row justify-content-center fs-5">
          <div class="col-md-7">
            <p align="justify">
              Perluasan kesadaran manusia sampai sebegitu jauh sehingga bisa dipersamakan dengan kesadaran alam semesta. 
              Hal ini harus dicapai dengan realisasi prinsip-prinsip spiritual dalam tubuh kita, ada prinsip fisik dan mental dan sebenarnya
               merupakan kepribadian diri kita sendiri yang abadi dan benar.
            </p>
          </div>

          <div class="col-md-1">
            <img src="static/images/2.png" alt="">
          </div>
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#fff"
          fill-opacity="1"
          d="M0,160L48,160C96,160,192,160,288,133.3C384,107,480,53,576,64C672,75,768,149,864,170.7C960,192,1056,160,1152,133.3C1248,107,1344,85,1392,74.7L1440,64L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
        ></path>
      </svg>
    </section>
    <!-- End Projects -->
     <!-- Contact -->
     <section id="contact">
      <div class="container-fluid">
        <div class="row text-center mb-3">
          <div class="col">
            <h2>Manfaat Yoga</h2>
          </div>
        </div>
        <div class="row justify-content-center fs-5">
          <div class="col-md-7">
            <p>
              1. Meningkatkan fungsi kerja kelenjar endokrin (hormonal) di dalam tubuh.
            </p>
            <p >
              2. Meningkatkan sirkulasi darah ke seluruh sel tubuh dan otak.
            </p>
            <p>
              3. Membentuk postur tubuh yang lebih tegap, serta otot yang lebih lentur dan kuat.
            </p>
            <p>
              4. Meningkatkan kapasitas paru-paru saat bernapas.
            </p>
            <p>
              5. Membuang racun dari dalam tubuh (detoksifikasi).
            </p>
            
          </div>

          <div class="col-md-1">
            <img src="static/images/3.png" alt="">
          </div>
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#0dcaf0"
          fill-opacity="1"
          d="M0,256L48,229.3C96,203,192,149,288,106.7C384,64,480,32,576,64C672,96,768,192,864,213.3C960,235,1056,181,1152,165.3C1248,149,1344,171,1392,181.3L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
        ></path>
      </svg>
    </section>
    <!-- End Contact -->
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>